In [2]:
! pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.22.0-py2.py3-none-any.whl (1.4 MB)
     |████████████████████████████████| 1.4 MB 10.3 MB/s eta 0:00:01
Requirement already satisfied: scipy>=1.2.1 in /Users/mayankagarwallaicloud.com/opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.7.3)
Requirement already satisfied: matplotlib>=3.0.0 in /Users/mayankagarwallaicloud.com/opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (3.5.1)
Requirement already satisfied: scikit-learn>=1.0.2 in /Users/mayankagarwallaicloud.com/opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.0.2)
Requirement already satisfied: joblib>=0.13.2 in /Users/mayankagarwallaicloud.com/opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: pandas>=0.24.2 in /Users/mayankagarwallaicloud.com/opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: numpy>=1.16.2 in /Users/mayankagarwallaicloud.com/opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.21.5)
Requirement already satisfied: setuptools in /Users/mayankagarwallaicloud.com/opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (61.2.0)
Requirement already satisfied: packaging>=20.0 in /Users/mayankagarwallaicloud.com/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/mayankagarwallaicloud.com/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.4)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/mayankagarwallaicloud.com/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.2)
Requirement already satisfied: pillow>=6.2.0 in /Users/mayankagarwallaicloud.com/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (9.0.1)
Requirement already satisfied: python-dateutil>=2.7 in /Users/mayankagarwallaicloud.com/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in /Users/mayankagarwallaicloud.com/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: cycler>=0.10 in /Users/mayankagarwallaicloud.com/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: pytz>=2020.1 in /Users/mayankagarwallaicloud.com/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/mayankagarwallaicloud.com/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/mayankagarwallaicloud.com/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.22.0

In [4]:
import numpy as np
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [6]:
dataset = [
    ['A', 'B', 'C', 'D', 'F', 'H'], 
    ['B', 'E', 'F', 'H'],
    ['A', 'C', 'E'],
    ['B', 'C', 'D', 'F', 'H'], 
    ['A', 'B', 'C', 'D', 'E'], 
    ['C','D','F','H'], 
    ['A','C','D','H'],
    ['E','H']
]

In [7]:
encoder = TransactionEncoder()
transactions = encoder.fit_transform(dataset)
data = pd.DataFrame(transactions, columns=encoder.columns_) 
data

       A      B      C      D      E      F      H
0   True   True   True   True  False   True   True
1  False   True  False  False   True   True   True
2   True  False   True  False   True  False  False
3  False   True   True   True  False   True   True
4   True   True   True   True   True  False  False
5  False  False   True   True  False   True   True
6   True  False   True   True  False  False   True
7  False  False  False  False   True  False   True

In [8]:
frequent_itemsets = apriori(data, min_support=0.5, use_colnames=True) 
frequent_itemsets

    support   itemsets
0     0.500        (A)
1     0.500        (B)
2     0.750        (C)
3     0.625        (D)
4     0.500        (E)
5     0.500        (F)
6     0.750        (H)
7     0.500     (C, A)
8     0.625     (C, D)
9     0.500     (C, H)
10    0.500     (D, H)
11    0.500     (F, H)
12    0.500  (C, D, H)

In [9]:
association_rules(frequent_itemsets, metric='confidence', min_threshold=0.75)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(A),(C),0.500,0.750,0.500,1.000000,1.333333,0.12500,inf,0.500000
1,(C),(D),0.750,0.625,0.625,0.833333,1.333333,0.15625,2.25,1.000000
2,(D),(C),0.625,0.750,0.625,1.000000,1.333333,0.15625,inf,0.666667
3,(D),(H),0.625,0.750,0.500,0.800000,1.066667,0.03125,1.25,0.166667
4,(F),(H),0.500,0.750,0.500,1.000000,1.333333,0.12500,inf,0.500000
5,"(C, D)",(H),0.625,0.750,0.500,0.800000,1.066667,0.03125,1.25,0.166667
6,"(C, H)",(D),0.500,0.625,0.500,1.000000,1.600000,0.18750,inf,0.750000
7,"(D, H)",(C),0.500,0.750,0.500,1.000000,1.333333,0.12500,inf,0.500000
8,(D),"(C, H)",0.625,0.500,0.500,0.800000,1.600000,0.18750,2.50,1.000000

In [10]:
frequent_itemsets = apriori(data, min_support=0.6, use_colnames=True) 
frequent_itemsets

   support itemsets
0    0.750      (C)
1    0.625      (D)
2    0.750      (H)
3    0.625   (C, D)

In [11]:
association_rules(frequent_itemsets, metric='confidence', min_threshold=0.6)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(C),(D),0.750,0.625,0.625,0.833333,1.333333,0.15625,2.25,1.000000
1,(D),(C),0.625,0.750,0.625,1.000000,1.333333,0.15625,inf,0.666667

### chatgpt

In [ ]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

# Load the perfume dataset
df = pd.read_csv('perfume_data.csv')

# Transform the data into a transaction matrix
te = TransactionEncoder()
te_ary = te.fit_transform(df.values)
df = pd.DataFrame(te_ary, columns=te.columns_)

# Use minimum support of 50% and minimum confidence of 75%
frequent_itemsets = apriori(df, min_support=0.5, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.75)

# Print the frequent itemsets and association rules
print("Minimum support: 50%, Minimum confidence: 75%")
print("Frequent itemsets:")
print(frequent_itemsets)
print("\nAssociation rules:")
print(rules)

# Use minimum support of 60% and minimum confidence of 60%
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.6)

# Print the frequent itemsets and association rules
print("\nMinimum support: 60%, Minimum confidence: 60%")
print("Frequent itemsets:")
print(frequent_itemsets)
print("\nAssociation rules:")
print(rules)